body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  border-bottom: 1px solid rgb(239, 246, 244);
  display: flex;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.header-content {
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.storename-container {
  font-size: 25px;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(13, 77, 58);
  gap: 10px;
}

.nav-container {
  display: flex;
  gap: 30px;
}

.nav-container-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: rgb(23, 135, 101);

  &:hover {
    color: rgb(13, 77, 58);
  }
}

.btn-login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 70px;
  padding: 7px;
  cursor: pointer;
  border: 1px solid rgb(198, 217, 211);
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.2s;

  &:hover {
    color: aliceblue;
    background-color: rgb(162, 187, 64);
  }
}

.main-container {
  margin-top: 100px;
}

.advertising-section {
  padding: 120px 0px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(239, 246, 244);
}

.advertising-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  align-items: center;
  padding: 20px;
  display: flex;
  gap: 2.5rem;
}

.advertising-text-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.advertising-text {
  display: flex;
  flex-direction: column;
}

.premium-watches {
  width: 110px;
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-size: 12px;
  background-color: rgb(162, 187, 64);
  padding: 5px;
  border-radius: 5px;
}

.slogan-text {
  margin: 20px 0px;
  color: rgb(72, 72, 72);
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-size: 65px;
}

.highlighted-text {
  color: rgb(0, 57, 58);
}

.description-text {
  line-height: 1.5;
  margin: 0px;
  color: rgb(72, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.advertising-btn {
  max-width: 630px;
  display: flex;
  gap: 1.5rem;
}

.catalog-btn {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: flex;
  color: white;
  font-size: 18px;
  background-color: rgb(0, 57, 58);
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  &:hover {
    color: aliceblue;
    background-color: rgb(3, 78, 79);
  }
}

.catalog-btn-image {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.consultation-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
  width: 350px;
  color: rgb(72, 72, 72);
  background-color: transparent;
  padding: 5px 15px;
  border: 1px solid rgb(239, 246, 244);
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    color: aliceblue;
    background-color: rgb(162, 187, 64);
  }
}

.advertising-info {
  display: flex;
  gap: 2rem;
}

.model-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.years-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity {
  margin: 0;
  display: flex;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 57, 58);
  font-family: Arial, Helvetica, sans-serif;
}

.model {
  margin: 0;
  display: flex;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(72, 72, 72);
}

.advertising-image-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  box-shadow: inset;
}

.star-image-container {
  position: absolute;
  right: -11px;
  top: -20px;

  z-index: 2;
}

.star-image {
  align-items: end;
  background-color: rgb(162, 187, 64);
  border-radius: 50%;
  padding: 15px;
  color: rgb(255, 255, 255);
}

.watch-image-container {
  padding: 32px;
  background-color: rgb(234, 253, 252);
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07),
    0 0 30px rgba(0, 0, 0, 0.05);
}

.watch-image {
  width: 664px;
  height: 664px;
}

@media (max-width: 1530px) {
  .advertising-content {
    max-width: 1300px;
    align-items: start;
  }
  .header-content {
    max-width: 1300px;
  }
  .watch-image {
    width: 536px;
    height: 536px;
  }
}

@media (max-width: 1300px) {
  .advertising-content {
    max-width: 1100px;
  }
  .header-content {
    max-width: 1100px;
  }
}
