body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  border-bottom: 1px solid rgb(239, 246, 244);
  display: flex;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.header-content {
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.storename-container {
  font-size: 25px;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(13, 77, 58);
  gap: 10px;
}

.nav-container {
  display: flex;
  gap: 30px;
}

.nav-container-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: rgb(23, 135, 101);

  &:hover {
    color: rgb(13, 77, 58);
  }
}

.btn-login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 70px;
  padding: 7px;
  cursor: pointer;
  border: 1px solid rgb(198, 217, 211);
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.2s;

  &:hover {
    color: aliceblue;
    background-color: rgb(162, 187, 64);
  }
}

.main-container {
  margin-top: 100px;
}

.advertising-section {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}

.advertising-content {
  width: 100%;
  margin: 0;
  max-width: 1500px;
  align-items: center;
  padding: 20px;
  display: flex;
  gap: 2.5rem;
}

.advertising-text-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.advertising-text {
  display: flex;
  flex-direction: column;
}

.premium-watches {
  width: 110px;
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-size: 12px;
  background-color: rgb(162, 187, 64);
  padding: 5px;
  border-radius: 5px;
}

.slogan-text {
  margin: 20px 0px;
  color: rgb(72, 72, 72);
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-size: 65px;
}

.highlighted-text {
  color: rgb(0, 57, 58);
}

.description-text {
  line-height: 1.5;
  margin: 0px;
  color: rgb(72, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.advertising-btn {
  max-width: 630px;
  display: flex;
  gap: 1.5rem;
}

.catalog-btn {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: flex;
  color: white;
  font-size: 18px;
  background-color: rgb(0, 57, 58);
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  &:hover {
    color: aliceblue;
    background-color: rgb(3, 78, 79);
  }
}

.catalog-btn-image {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.consultation-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
  width: 350px;
  color: rgb(72, 72, 72);
  background-color: transparent;
  padding: 5px 15px;
  border: 1px solid rgb(239, 246, 244);
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    color: aliceblue;
    background-color: rgb(162, 187, 64);
  }
}

.advertising-info {
  display: flex;
  gap: 2rem;
}

.model-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.years-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity {
  margin: 0;
  display: flex;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 57, 58);
  font-family: Arial, Helvetica, sans-serif;
}

.model {
  margin: 0;
  display: flex;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(72, 72, 72);
}

.advertising-image-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  box-shadow: inset;
}

.star-image-container {
  position: absolute;
  right: -11px;
  top: -20px;
  z-index: 2;
}

.star-image {
  display: flex;
  align-items: end;
  background-color: rgb(162, 187, 64);
  border-radius: 50%;
  padding: 16px;
  color: rgb(255, 255, 255);
}

.watch-image-container {
  padding: 32px;
  background-color: rgb(234, 253, 252);
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07),
    0 0 30px rgba(0, 0, 0, 0.05);
}

.watch-image {
  width: 664px;
  height: 664px;
}

.selected-models-section {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(127, 255, 212, 0.056);
}

.selected-models-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-models-title {
  margin: 20px 0px;
  color: rgb(72, 72, 72);
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-size: 38px;
  letter-spacing: 1px;
}

.selected-models-subtitle {
  line-height: 1.5;
  margin: 0px;
  color: rgb(72, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.selected-models-watch {
  max-width: 1500px;
  padding: 60px 20px;
  display: flex;
  gap: 2rem;
}

.selected-models-watch-card {
  padding: 20px 0px;
  border-radius: 10px;
  background-color: rgb(222, 252, 251);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1), 0 0px 5px rgba(0, 0, 0, 0.07),
    0 0 20px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.07),
      0 0 40px rgba(0, 0, 0, 0.05);
  }
}

.watch-card-image {
  object-fit: contain;
  width: 475px;
  height: 475px;
}

.watch-card-info {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
}

.watch-name {
  font-size: 22px;
  font-weight: 600;
  color: rgb(0, 57, 58);
  font-family: Arial, Helvetica, sans-serif;
}

.price-evaluation-container {
  display: flex;
  justify-content: space-between;
}

.watch-price {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 57, 58);
  font-family: Arial, Helvetica, sans-serif;
}

.evaluation-container {
  display: flex;
}

.star-container {
  display: flex;
  align-items: center;
}

.star-evaluation-image {
  color: rgb(162, 187, 64);
  fill: rgb(162, 187, 64);
}

.details-btn-container {
  display: flex;
  justify-content: center;
}

.details-btn {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 430px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  background-color: rgb(0, 57, 58);
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  &:hover {
    color: aliceblue;
    background-color: rgb(3, 78, 79);
  }
}

.choosing-us-section {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.choosing-us-title {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  color: rgb(72, 72, 72);
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-size: 38px;
  letter-spacing: 1px;
}

.choosing-us-card-container {
  max-width: 1500px;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.choosing-us-card {
  width: 475px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  border-radius: 10px;
  background-color: rgb(228, 249, 248);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1), 0 0px 5px rgba(0, 0, 0, 0.07),
    0 0 20px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.07),
      0 0 40px rgba(0, 0, 0, 0.05);
  }
}

.choosing-us-card-logo {
  display: flex;
  padding: 16px;
  background-color: rgb(206, 233, 232);
  border-radius: 50%;
}

.choosing-us-card-title {
  font-size: 22px;
  font-weight: 600;
  color: rgb(0, 57, 58);
  font-family: Arial, Helvetica, sans-serif;
}

.choosing-us-card-subtitle {
  width: 75%;
  line-height: 1.5;
  text-align: center;
  margin: 0px;
  color: rgb(72, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.online-consultation-section {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 57, 58);
}

.online-consultation-container {
  max-width: 1500px;
  height: 200px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.online-consultation-title {
  margin: 0 0 32px 0;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

.online-consultation-sibtitle {
  margin: 0 0 32px 0;
  width: 580px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 19px;
  color: rgb(230, 237, 243);
}

.online-consultation-btn-container {
  display: flex;
  gap: 1rem;
}

.showroom-btn {
  letter-spacing: 1px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 32px;
  background-color: rgb(162, 187, 64);
  border-radius: 5px;
  border: none;
  color: rgb(1, 53, 54);
  transition: background-color 0.1s;
  &:hover {
    background-color: rgb(144, 164, 64);
  }
}

.online-consultation-btn {
  letter-spacing: 1px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 32px;
  background-color: transparent;
  border: 1px solid rgb(198, 217, 211);
  border-radius: 5px;
  color: white;
  transition: background-color 0.1s;
  &:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(1, 53, 54);
  }
}

.footer-container {
  padding: 70px 0;
  background-color: rgb(237, 252, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.footer-main-info {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(13, 77, 58);
  gap: 0.5rem;
}

.logo-storname-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 0 0 15px;
}

.footer-discription {
  width: 350px;
  font-weight: 400;
  line-height: 1.5;
  text-align: start;
  margin: 0px;
  color: rgb(72, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.footer-catalog {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.footer-catalog-title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(72, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-catalog-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-catalog-link {
  color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  &:hover {
    color: rgb(13, 77, 58);
  }
}

.footer-brands {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.footer-brands-title {
  font-size: 16px;
  font-weight: 600;
  color: rgb(72, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 16px;
}

.footer-brands-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-brands-link {
  color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  &:hover {
    color: rgb(13, 77, 58);
  }
}

.footer-contacts {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.footer-contacts-title {
  font-size: 16px;
  font-weight: 600;
  color: rgb(72, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 16px;
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-contacts-number,
.footer-contacts-email,
.footer-contacts-address,
.footer-contacts-working {
  margin: 0;
  color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  &:hover {
    color: rgb(13, 77, 58);
  }
}

.footer-brands-link {
  color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  &:hover {
    color: rgb(13, 77, 58);
  }
}

.footer-all-rights {
  display: flex;
}

.all-rights {
  width: 1500px;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(235, 237, 236);
  margin: 40px 0 0;
  padding: 32px 0 0;
  color: rgb(72, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@media (max-width: 1530px) {
  .advertising-content {
    max-width: 1300px;
    align-items: start;
  }
  .header-content {
    max-width: 1300px;
  }
  .watch-image {
    width: 536px;
    height: 536px;
  }
  .selected-models-watch {
    max-width: 1300px;
  }
  .details-btn {
    width: 340px;
  }
  .watch-card-image {
    object-fit: contain;
    width: 410px;
    height: 410px;
  }
  .choosing-us-card-container {
    max-width: 1300px;
  }
  .choosing-us-card {
    width: 410px;
    height: 200px;
  }
  .choosing-us-card-title {
    font-size: 20px;
  }
  .choosing-us-card-subtitle {
    font-size: 15px;
  }
  .online-consultation-container {
    max-width: 1500px;
    height: 200px;
  }
}

@media (max-width: 1300px) {
  .advertising-content {
    max-width: 1100px;
  }
  .header-content {
    max-width: 1100px;
  }
  .catalog-btn {
    background-color: rgb(0, 57, 58);
    padding: 9px 10px;
  }
  .watch-image {
    width: 410px;
    height: 410px;
  }
  .details-btn {
    width: 280px;
  }
  .watch-card-image {
    object-fit: contain;
    width: 345px;
    height: 345px;
  }
  .choosing-us-card-container {
    max-width: 1100px;
  }
  .choosing-us-card {
    width: 345px;
    height: 200px;
  }
}

@media (max-width: 1150px) {
  .advertising-content {
    max-width: 1100px;
    align-items: start;
  }
  .header-content {
    max-width: 1100px;
  }
  .watch-image {
    width: 480px;
    height: 480px;
  }
  .selected-models-watch {
    max-width: 1100px;
  }
  .details-btn {
    width: 90%;
  }
  .watch-card-image {
    object-fit: contain;
    width: 335px;
    height: 335px;
  }
  .choosing-us-card-container {
    max-width: 1100px;
  }
  .choosing-us-card {
    width: 335px;
    height: 200px;
  }
  .choosing-us-card-title {
    font-size: 20px;
  }
  .choosing-us-card-subtitle {
    font-size: 15px;
  }
  .footer-content {
    max-width: 1100px;
  }
  .all-rights {
    width: 500px;
  }
}

@media (max-width: 790px) {
  .advertising-content {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .watch-image {
    width: 590px;
    height: 590px;
  }

  .star-image-container {
    position: absolute;
    right: -9px;
    top: -18px;
    z-index: 2;
  }

  .star-image {
    align-items: end;
    background-color: rgb(162, 187, 64);
    border-radius: 50%;
    padding: 15px;
    color: rgb(255, 255, 255);
  }

  .slogan-text {
    font-size: 32px;
  }

  .description-text {
    font-size: 16px;
  }

  .selected-models-subtitle {
    width: 600px;
    text-align: center;
  }

  .selected-models-watch {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .selected-models-watch-card {
    max-width: 350px;
    min-width: 300px;
  }

  .watch-card-image {
    width: 100%;
  }

  .details-btn {
    width: 90%;
    max-width: 300px;
  }

  .advertising-info {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .watch-card-image {
    object-fit: contain;
    width: 345px;
    height: 345px;
  }
  .choosing-us-card-container {
    max-width: 1100px;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .choosing-us-card {
    width: 345px;
    height: 200px;
  }
  .online-consultation-title {
    font-size: 30px;
    width: 600px;
  }
  .footer-content {
    max-width: 650px;
    flex-wrap: wrap;
  }
  .all-rights {
    width: 500px;
  }
}
